<div class="container mt-2">
  <div class="row">
    <h1 class="fs-4 pt-3">Gerencie seu dia-a-dia com nossa ajuda</h1>
    <mat-divider></mat-divider>

    <div class="d-flex justify-content-start gap-3 mt-3">
      <a href="/medicos/listar" mat-raised-button color="primary"> <mat-icon>category</mat-icon>Médicos</a>
      <a href="/cirurgias/listar" mat-raised-button color="primary"><mat-icon>bookmark</mat-icon> Cirurgias</a>
      <a href="/consultas/listar" mat-raised-button color="primary"><mat-icon>bookmark</mat-icon> Consultas</a>
    </div>

    <div class="row mt-4 text-center">
      <div class="col-12">
        <img class="img-fluid w-50"
          src="../../../assets/dash-img.svg">
      </div>
    </div>
  </div>
</div>
