<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <h2>Listar {{tipo}}</h2>
      <p>Abaixo, você pode filtrar as {{tipoCadastro}} cadastradas</p>
    </div>
    <div class="col-lg-3 col-sm-12 mt-1 mb-2  d-flex gap-3 align-items-center ">
      <a mat-flat-button color="accent" href="/{{tipoCadastro}}/inserir">Inserir {{tipo}}</a>

    </div>
    <div class="col">
      <ng-template [ngTemplateOutlet]="filtroBusca">
      </ng-template>
    </div>
  </div>

  <mat-divider></mat-divider>

  <section>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link" (click)="alterarLista()"
        [active]="activeLink == link"> {{link}} </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </section>

  <div class="row mt-3">
    <div class="col-lg-3 col-sm-12 mb-3" *ngFor="let atividade of atividades$ | async as atividades; ">
      <mat-card appCardHover>
        <mat-card-header>
          <mat-card-title>{{atividade.dataInicio}}</mat-card-title>
          <mat-card-subtitle>{{atividade.horaInicio}} - {{atividade.horaTermino}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="d-flex justify-content-around">
          <button (click)="editar(atividade)" mat-button matTooltip="Editar"><span
              class="material-icons md-18">edit</span></button>
          <button (click)="detalhes(atividade)" mat-button matTooltip="Detalhes"><span
              class="material-icons md-18">details</span></button>
          <button (click)="excluir(atividade)" matTooltip="Excluir" mat-button><span
              class="material-icons md-18">delete</span></button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>


<ng-template #filtroBusca>
  <form [formGroup]="form" class="d-flex align-items-center gap-2" (ngSubmit)="enviarData()">
    <mat-form-field>
      <mat-label>Pesquisar por período</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="YYYY-MM-DD">
        <input matEndDate formControlName="end" placeholder="YYYY-MM-DD">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-divider></mat-divider>
    <section><button [disabled]="!form.valid" mat-raised-button type="submit" color="primary">Buscar</button></section>
  </form>
</ng-template>
