@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$teal-palette,  300, 400);
$my-accent: mat.define-palette(mat.$pink-palette, 400);
$my-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$teal-palette, 700),
        accent: mat.define-palette(mat.$pink-palette, 400),
      ),
      typography: mat.define-typography-config(),
      density: -1,
    ));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.button-theme($dark-theme);

  .material-icons {
    color: #EC407A
  }

}


.material-icons {
  color: #80cbc4
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
