<div class="row">
  <div class="col-sm-12">
    <h2 mat-dialog-title>Detalhes Cirurgia</h2>
    <mat-dialog-content class="mat-typography">
      <h3>Inicio</h3>
      <p>{{cirurgia.dataInicio}} - {{cirurgia.horaInicio}}</p>

      <h3>Término</h3>
      <p>{{cirurgia.dataTermino}} - {{cirurgia.horaTermino}}</p>

    <div class="col">
      <h2 mat-dialog-title>Médicos</h2>

      <div *ngFor="let med of cirurgia.medicos ">
        <p>{{med.nome}} - {{med.crm}}</p>
      </div>


    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>OK</button>
    </mat-dialog-actions>
    </div>
  </mat-dialog-content>
  </div>
</div>
