<div class="container">
  <div class="mt-4">
    <form class="form" [formGroup]="form" (ngSubmit)="salvar()">
      <!-- {{form.value| json}} -->
      <mat-form-field class="full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataInicio" placeholder="yyyy-mm-dd">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Hora Inicio</mat-label>
        <input type="time" matInput formControlName="horaInicio">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Duração em minutos</mat-label>
        <input type="number" min="120" value="120" formControlName="duracaoEmMinutos" matInput placeholder="minutos">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Médico</mat-label>
        <mat-select formControlName="medicoId">
          <div *ngFor="let medico of medicos$ |async">
            <mat-option [value]="medico.id">{{medico.nome}} - {{medico.crm}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <section>
        <div>
          <button [disabled]="!form.valid" mat-raised-button type="submit" color="accent">Salvar</button>
          <button routerLink="/consultas/listar" class="mx-2" mat-raised-button type="button"
            color="primary">Voltar</button>
        </div>
      </section>
    </form>
  </div>

</div>
