<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  href="/dashboard"><mat-icon        class="mx-2 icons"><span class="d-flex align-items-end">dashboard</span></mat-icon>       Dashboard</a>
      <a mat-list-item  href="/consultas/listar"><mat-icon class="mx-2 icons"><span class="d-flex align-items-end">medical_services</span></mat-icon>Consultas</a>
      <a mat-list-item  href="/cirurgias/listar"><mat-icon class="mx-2 icons"><span class="d-flex align-items-end">local_hospital</span></mat-icon>  Cirugias </a>
      <a mat-list-item  href="/medicos/listar"><mat-icon   class="mx-2 icons"><span class="d-flex align-items-end">add_reaction</span></mat-icon>    Médicos  </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon class="text-dark" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>E-Agenda Médica</span>
      <span class="spacer"></span>
      <button class="mx-2" mat-raised-button color="accent" (click)="alterarTema()">Tema</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
